<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carpooling_Niket</title>
</head>
<body>

    <h1 style = "text-align: center"; />Welcome User</h1>

        <fieldset>
           &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <a href="{{  url_for('owner.ownerhome') }}">
                <input style="text-align: center; width: 300px; padding: 20px;  font-weight: bold;  border-radius: 10px; border: 1px solid #999; font-size: 150%;"
                       type="button" value="Owner"/>
            </a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <a href="{{ url_for('traveller.travel') }}">
                <input style="text-align: center; width: 300px; padding: 20px;  font-weight: bold;  border-radius: 10px; border: 1px solid #999; font-size: 150%;" type="button" value="traveller" />
            </a>

        </fieldset>

</body>
</html>

