<!--<!doctype html>-->

{% extends "base.html" %}
{% block content %}

<h1 style = "text-align: center; font-size: 500;"/> Welcome Traveller</h1><br>
<fieldset>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

    <form action="http://localhost:5000/traveller/Login" method="GET">
      <p> <input style="text-align: center; width: 300px; padding: 20px;  font-weight: bold;  border-radius: 10px; border: 1px solid #999; font-size: 150%;"
               type="submit" value="Sign In">
      </p>
    </form>
    &emsp;&emsp;&emsp;&emsp;

    <form action="http://localhost:5000/traveller/DirectTravel" method="GET">
      <p><input style="text-align: center; width: 300px; padding: 20px;  font-weight: bold;  border-radius: 10px; border: 1px solid #999; font-size: 150%;"
                type="submit" value="Direct Travel">
      </p>
    </form>&emsp;&emsp;&emsp;

    <form action="http://localhost:5000/traveller/signup" method="GET">
     <p><input style="text-align: center; width : 300px; padding : 20px; font-weight : bold; border-radius :
                       10px; border : 1px solid #999; font-size : 150%;" type="submit" value="Sign Up">
     </p>
    </form>

</fieldset>

{% endblock%}
